<!-- ko foreach: active_connections -->
<div class="row-fluid">
    <div class="span6" data-bind="text: remoteAddress"></div>
    <div class="span6" data-bind="text: username"></div>
</div>
<!-- /ko -->
